/*Shopina - Web App UI Kit eCommerce Mobile Template*/

/*Table of Content
-------
Fonts
General
Grid custom
Preloader
Button
Navbar
Sidebar left
Sidebar serch
Sidebar cart
Slider
Banner
Official shop
Categories
Product
Product list
Product details
Cart
Wishlist
Checkout
Tracking order
Order history
Profile Seller
Profile Buyer
Blog
Blog Single
Pagination
About
Page not found
Testimonial
Contact
settings
Sign in
Sign up
Form
Comment
Table
Footer*/

/*font*/
 @import url('https://fonts.googleapis.com/css?family=Lato:400,700,900|Nunito:400,600,700,800,900');

/*general*/
body {
	font-family: 'Lato', sans-serif;
	color: #333;
	font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 110%;
	margin: 0;
	font-family: 'Nunito', sans-serif;
	font-weight: 600;
}

a {
	color: #111;
}

a:hover {
	color: #111;
}

a.link-color {
	color: #2a8fbd;
}

a.link-color:hover {
	color: #2a8fbd;
}

.segments {
	padding: 15px 0 10px;
	margin-bottom: 65px;
}

.segments-page {
	padding: 15px 0 25px;
	margin-top: 54px;
	margin-bottom: 65px;
}

.divider {
	border-bottom: 8px solid #f5f5f5;
}

.section-title {
	margin-bottom: 10px;
}

.section-title h3 {
	font-weight: 700;
	font-size: 20px;
}

.pages-title {
	padding-bottom: 15px;
	border-bottom: 1px solid #ddd;
	text-align: center;
	margin-bottom: 25px;
}

.pages-title h3 {
	text-transform: uppercase;
}

.section-title .line {
	background-color: #2a8fbd;
	width: 30px;
	height: 2px;
	margin-top: 6px;
}

.date {
	color: #666;
	font-size: 12px;
	margin-bottom: 10px;
}

/*grid custom*/
.ui.grid {
	margin-top: 0;
	margin-bottom: 0;
}

.ui.grid > .full:not(.row), .ui.grid > .row > .full {
	padding-bottom: 5px;
	padding-top: 5px;
}

.ui.grid > .pr:not(.row), .ui.grid > .row > .pr {
	padding-right: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
}

.ui.grid > .pl:not(.row), .ui.grid > .row > .pl {
	padding-left: 5px;
	padding-bottom: 5px;
	padding-top: 5px;
}

/*preloader*/
#preloader {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 999999;
	overflow: hidden;
	background: url(../images/loading.png) 50% 50% no-repeat, #ffffff;
}

/*button*/
.button {
	background-color: #2a8fbd;
	color: #fff;
	border: 0;
	padding: 7px 16px;
	border-radius: 2px;
	cursor: pointer;
	font-size: 13px;
}

.button-full {
	width: 100%;
	background-color: #2a8fbd;
	color: #fff;
	border: 0;
	padding: 7px 16px;
	border-radius: 2px;
	cursor: pointer;
	font-size: 13px;
}

.button-full-2 {
	width: 100%;
	height: 100%;
	background-color: #2a8fbd;
	color: #fff;
	border: 0;
	padding: 7px 16px;
	border-radius: 2px;
	cursor: pointer;
	font-size: 20px;
}

.button i, .button-full i {
	margin-right: 0px;
}

/*navbar*/
.navbar {
	background-color: #fefefe;
	padding: 13px 0 13px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 0 6px rgba(140, 132, 132, 0.27);
	overflow: hidden;
}

.navbar i {
	cursor: pointer;
}

.navbar	.ui.grid > .column:not(.row) {
    padding-top: 12px;
    padding-bottom: 10px;
}

.navbar .ui.grid {
	margin-top: -1rem;
	margin-bottom: -1rem;
}

.navbar .navbar-toggle-left {
	padding: 7px 0 4px;
}

.navbar .navbar-toggle-left i {
	font-size: 18px;
	cursor: pointer;
}

.navbar .navbar-logo {
	text-align: center;
}

.navbar .navbar-logo h1 {
	line-height: 15px;
	color: #2a8fbd;
}

.navbar .navbar-toggle-right {
	text-align: right;
	width: 100%;
	padding: 7px 0 4px;
}

.navbar .navbar-toggle-right i {
	font-size: 18px;
}

.navbar .navbar-toggle-search {
	display: inline-block;
	margin-right: 5px;
}

.navbar .navbar-toggle-cart {
	display: inline-block;
}

.navbar .navbar-toggle-cart sup {
	padding: 2px 5px;
	background-color: #2a8fbd;
	border-radius: 50%;
	position: relative;
	right: 2px;
	font-size: 12px;
	color: #fff;
	top: -10px;
}

/*sidebar left*/
.ui.visible.scale.down.sidebar ~ .pusher {
	transform: scale(1);
}

.sidebar .ui.styled.accordion {
	box-shadow: none;
}

.sidebar .ui.styled.accordion .accordion {
	box-shadow: none;
	margin: 0;
}

.sidebar .ui.styled.accordion .categories-accordion .title {
	padding: 0.75em 0 0.75em 16px;
}

.sidebar.ui.menu .categories-accordion .item {
	padding: 8px 0;
}

.sidebar .ui.styled.accordion .content {
	padding: 0 20px 0 37px;
}

.sidebar .ui.styled.accordion .title {
	color: #111;
	font-weight: normal;
	border-top: 0;
	font-size: 14px;
}

.sidebar i {
	margin-right: 20px;
	width: 16px;
}

.sidebar .ui.accordion .title .dropdown.icon {
	float: right;
	position: relative;
	top: 3px;
}

.sidebar .user-profile {
	background: linear-gradient(
		rgba(255, 35, 35, 0.92),
		rgba(255, 35, 35, 0.92)
		),
	 url(../images/bg-sidebar.jpg);
	background-size: cover;
	text-align: center;
	padding: 40px 0;
	margin-bottom: 20px;
}

.sidebar .user-profile img {
	border-radius: 50%;
	width: 80px;
	height: 80px;
	margin-bottom: 10px;
}

.sidebar .user-profile h4 {
	color: #fff;
	font-size: 16px;
}

.sidebar.ui.inverted.menu {
	background-color: #fff;
}

.sidebar.ui.inverted.menu .item {
	color: #222;
	margin-left: 0;
	font-size: 14px;
}

.sidebar.ui.menu > .item:last-child {
	margin-bottom: 20px;
}

.sidebar.ui.inverted.menu a.item:hover {
	background-color: transparent;
	color: #222;
}

/*sidebar search*/
.sidebar.search {
	padding: 15px;
}

.sidebar.search .ui.form input[type="search"] {
	width: calc(100% - 42px);
	height: 33px;
	border-radius: 2px;
}

.sidebar.search .button {
	float: right;
	width: 37px;
	height: 33px;
	padding: 7px 12px;
	text-align: center;
}

.sidebar.search h5 {
	margin-top: 20px;
	margin-bottom: 4px;
	color: #aaa;
}

.sidebar.search ul {
	padding: 0;
	margin: 0;
}

.sidebar.search ul li {
	list-style: none;
	padding: 4px 0;
}

/*sidebar cart*/
.sidebar.cart {
	width: 100%;
	padding: 15px;
}

.sidebar.cart .content {
	border-bottom: 1px solid #ddd;
	padding-bottom: 9px;
    margin-bottom: 13px;
}

.sidebar.cart .content .clear {
	clear: both;
}

.sidebar.cart .cart-img {
	width: 60px;
	height: auto;
	float: left;
}

.sidebar.cart .cart-img img {
	width: 100%;
}

.sidebar.cart .cart-title {
	width: 140px;
	height: auto;
	float: left;
	margin-left: 10px
}

.sidebar.cart .cart-title h5 {
	color: #2a8fbd;
	margin-top: 10px;
}

.sidebar.cart .cart-remove {
	width: 16px;
	height: auto;
	float: right;
	text-align: right;
}

.sidebar.cart .cart-button {
	text-align: center;
}

.sidebar.cart .cart-button ul {
	padding: 0;
	margin: 0;
}

.sidebar.cart .cart-button ul li {
	list-style: none;
	margin: 0 4px;
	display: inline-block;
}

.sidebar.cart .cart-button button {
	padding: 7px 8px;
}

.sidebar.cart .cart-button button i {
	margin-right: 8px;
}

/*slider*/
.slider {
	margin-top: 52px;
}

.slider .slider-content {
	height: 230px;
	background: #fff;
}

@media (min-width: 480px) {
	.slider .slider-content {
		height: 250px;
		background: #fff;
	}
}

@media (min-width: 640px) {
	.slider .slider-content {
		height: 350px;
		background: #fff;
	}

	.slider .slider-content .caption {
		position: absolute;
		top: 32% !important;
		margin: 0 auto;
		left: 0;
		right: 0;
		padding: 15px;
	}
}

@media (min-width: 768px) {
	.slider .slider-content {
		height: 680px;
		background: #fff;
	}

	.slider .slider-content .caption {
		position: absolute;
		top: 35% !important;
		margin: 0 auto;
		left: 0;
		right: 0;
		padding: 15px;
	}
}

.pushable > .pusher {
	z-index: 99;
}

.slider .slider-content .mask {
	background-color: rgba(0,0,0,0.09);	
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.slider .slider-content .mask2 {
	background-color: rgba(0,0,0,0.42);	
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.slider .slider-content img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider .slider-content .caption {	
	position: absolute;
	top: 24%;
	margin: 0 auto;
	left: 0;
	right: 0;
	padding: 15px
}

.slider .slider-content .text-center {
	text-align: center;
}

.slider .slider-content .caption h2 {
	font-weight: 700;
}

.slider .slider-content .caption h2,
.slider .slider-content .caption p {
	color: #fff;
}

.slider .slider-content .caption button {
	padding: 5px 10px;
	font-size: 12px;
}

.slider .owl-theme .owl-nav.disabled + .owl-dots {
	position: relative;
	top: -35px;
	margin-bottom: -36px;
}

.slider .owl-theme .owl-dots .owl-dot span {
	width: 7px;
	height: 7px;
	background-color: #fff;
}

.slider .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
	background-color: #2a8fbd;
}

/*banner*/
.banner .ui.grid > .banner-pb:not(.row) {
	padding-bottom: 0;
}

.banner .ui.grid > .pl:not(.row) {
	padding-bottom: 0;
}

.banner .ui.grid > .pr:not(.row) {
	padding-bottom: 0;
}

.banner img {
	width: 100%;
}

/*official shop*/
.official-shop {
	margin-top: 6px;
}
.official-shop .content-image {
	border: 1px solid #ddd;
	padding: 8px 0;
}

.official-shop img {
	width: 100%;
}

.official-shop .link a {
	float: right;
}

/*categories*/
.categories .content {
	text-align: center;
	border: 1px solid #ddd;
	padding: 10px 0;
}

.categories .content p {
	font-size: 15px;
}

.categories .content i {
	font-size: 28px;
	color: #2a8fbd;
	margin-bottom: 5px;
}

.categories .link a {
	float: right;
}

/*categories pages*/
.categories-pages .title {
	background: #f8f8f8;
	border: 1px solid #ddd;
	padding: 10px !important;
	margin-bottom: 4px;
}

.categories-pages .title.active {
	margin-bottom: 0;
}

.categories-pages .title span {
	font-size: 16px;
}

.categories-pages .title span i {
	color: #2a8fbd;
	margin-right: 7px;
}

.categories-pages .title .fa-angle-down {
	float: right;
	top: 3px;
	position: relative;
}

.categories-pages .content {
	border: 1px solid #ddd;
	border-top: 0;
	padding: 10px !important;
	margin-bottom: 20px;
}

.categories-pages .content ul {
	padding: 0;
	margin: 0;
}

.categories-pages .content ul li {
	list-style: none;
	border-bottom: dotted 1px #ddd;
	padding: 7px 0;
}

.categories-pages .content ul li:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}

/*product*/
.product .content {
	border: 1px solid #ddd;
	padding: 10px;
}

.product .content img {
	width: 100%;
	margin-bottom: 8px;
}

.product .content h5 {
	margin-top: 10px;
	color: #2a8fbd;
	font-size: 16px;
	margin-bottom: 2px;
}

.product .link a {
	float: right;
}

/*product list*/
.product-list .content {
	border: 1px solid #ddd;
	padding: 10px 10px 8px;
	margin-top: 10px;
}

.product-list .product-img {
	float: left;
	margin-right: 10px;
}

.product-list .product-img img {
	width: 100px;
	height: auto;
}

.product-list .product-text {
	overflow: hidden;
}

.product-list .content h5 {
	margin-top: 10px;
	color: #2a8fbd;
	font-size: 16px;
}

.product-list .content .clear {
	clear: both;
}

/*product details*/
.product-details .content-img {
	border: 1px solid #ddd;
	padding: 10px;
}

.product-details .content-img img {
	width: 100%;
}

.product-details .ui.menu .item {
	display: inline-block;
	text-align: center;
	width: 25%;
}

.product-details .desc-short .title {
	font-size: 18px;
	margin-bottom: 6px;
}

.product-details .desc-short .title2 {
	font-size: 18px;
	margin-top: 10px;
	margin-bottom: 6px;
}

.product-details .desc-short h5 {
	color: #2a8fbd;
	margin-bottom: 10px;
	font-size: 16px;
}

.product-details .desc-long {
	border-top: 1px solid #ddd;
	margin-top: 18px;
	padding-top: 14px;
}

.product-details .desc-long h5 {
	margin-bottom: 8px;
	font-size: 18px;
}

.product-details .review {
	border-top: 1px solid #ddd;
	margin-top: 18px;
	padding-top: 14px;
}

.product-details .review h5 {
	margin-bottom: 8px;
	font-size: 18px;
}

.product-details .review .text h5 {
	font-size: 16px;
}

.product-details .owl-carousel .owl-nav .owl-prev {
    position: absolute;
    left: 0;
    margin: auto 0;
    top: 45%;
    background: transparent !important;
    width: 45px;
    height: 45px;
    color: transparent;
}


.product-details .owl-carousel .owl-nav .owl-prev::before {
    content: "\f053";
    font-family: 'fontAwesome';
    color: #2a8fbd;
    font-size: 25px;
    margin: auto;
    margin-top: auto;
    text-align: center;
    display: block;
    margin-top: -13px;
}

.product-details .owl-carousel .owl-nav .owl-next {
	position: absolute;
    right: 0;
    margin: auto 0;
    top: 45%;
    background: transparent !important;
    width: 45px;
    height: 45px;
    color: transparent;
}

.product-details .owl-carousel .owl-nav .owl-next::before {
    content: "\f054";
    font-family: 'fontAwesome';
    color: #2a8fbd;
    font-size: 25px;
    margin: auto;
    margin-top: auto;
    text-align: center;
    display: block;
    margin-top: -13px;
}

.product-details .slide-content {
	border: 1px solid #ddd;
}

/*cart*/
.cart .cart-product {
	border: 1px solid #ddd;
	padding: 15px 10px;
	margin-top: 5px;
}

.cart .cart-product .remove i {
	text-align: right;
	float: right;
	position: relative;
	top: 3px;
}

.cart .cart-product .content img {
	width: 80px;
	height: 80px;
}

.cart .cart-product .content input {
	width: 50px;
	border: 1px solid #ddd;
	padding: 6px 6px 9px;
}

.cart .cart-product .button {
	margin-top: 8px;
}

.cart .total-pay {
	border: 1px solid #ddd;
	padding: 15px 10px;
	background-color: #f8f8f8;
	margin-top: 20px;
}

.cart .total-pay .pl .content {
	text-align: right;
}

.cart .total-pay .button {
	margin-top: 10px;
}

/*wishlist*/
.wishlist .wishlist-product {
	border: 1px solid #ddd;
	padding: 15px 10px;
	margin-top: 5px;
}

.wishlist .wishlist-product .remove i {
	text-align: right;
	float: right;
	position: relative;
	top: 3px;
}

.wishlist .wishlist-product .content img {
	width: 80px;
	height: 80px;
}

.wishlist .wishlist-product .content input {
	width: 50px;
	border: 1px solid #ddd;
	padding: 6px 6px 9px;
}

.wishlist .wishlist-product .button {
	margin-top: 8px;
}

/*checkout*/
.checkout h5 {
	font-size: 18px;
}

.checkout .content-details {
	border: 1px solid #ddd;
	padding: 15px 10px;
}

.checkout .line {
	background-color: #2a8fbd;
    width: 30px;
    height: 2px;
    margin: 3px 0 10px;
}

.ui.form .field > label {
	font-weight: normal;
}

.checkout .checkout-product {
	border: 1px solid #ddd;
	padding: 15px 10px;
	margin-top: 20px;
}

.checkout .checkout-product .content img {
	width: 80px;
	height: 80px;
}

.checkout .checkout-product .content input {
	width: 50px;
	border: 1px solid #ddd;
	padding: 6px 6px 9px;
}

.checkout .checkout-product .button {
	margin-top: 8px;
}

.checkout .payment-method {
	margin-top: 20px;
	padding: 15px 10px;
	border: 1px solid #ddd;
}

.checkout .total-pay {
	border: 1px solid #ddd;
	padding: 15px 10px;
	background-color: #f8f8f8;
	margin-top: 20px;
}

.checkout .total-pay .pl .content {
	text-align: right;
}

.checkout .total-pay .button {
	margin-top: 10px;
}

/*tracking order*/
.tracking-order .title {
	background: #f7f7f7;
	border: 1px solid #ddd;
	padding: 10px !important;
	margin-bottom: 20px;
}

.tracking-order .title.active {
	margin-bottom: 0;
}

.tracking-order .title span {
	font-size: 16px;
}

.tracking-order .title i {
	float: right;
	color: #2a8fbd;
	top: 3px;
	position: relative;
}

.tracking-order .content {
	border: 1px solid #ddd;
	border-top: 0;
	padding: 10px !important;
	margin-bottom: 20px;
}

/*order history*/
.order-history .order-history-product {
	border: 1px solid #ddd;
	padding: 15px 10px;
	margin-top: 5px;
}

.order-history .order-history-product .remove i {
	text-align: right;
	float: right;
	position: relative;
	top: 3px;
}

.order-history .order-history-product .content-product img {
	width: 80px;
	height: 80px;
}

.order-history .order-history-product .content-product input {
	width: 50px;
	border: 1px solid #ddd;
	padding: 6px 6px 9px;
}

.order-history .title {
	background: #f7f7f7;
	border: 1px solid #ddd;
	padding: 10px !important;
	margin-bottom: 20px;
}

.order-history .title.active {
	margin-bottom: 0;
}

.order-history .title span {
	font-size: 16px;
}

.order-history .title i {
	float: right;
	color: #2a8fbd;
	top: 3px;
	position: relative;
}

.order-history .content {
	border: 1px solid #ddd;
	border-top: 0;
	padding: 10px !important;
	margin-bottom: 20px;
}

/*profile seller*/
.profile-seller .profile-banner {
	background: url(../images/bg-profile1.jpg);
	width: 100%;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 10px;
	text-align: center;
	color: #fff;
}

.profile-seller .profile-banner img {
	border-radius: 50%;
	width: 80px;
	height: 80px;
}

.profile-seller .profile-banner h4 {
	font-size: 18px;
}

.profile-seller .ui.grid > .row {
	padding: 0;
}

.profile-seller .ui.grid > .row > .column {
	padding: 0;
	border-bottom: 1px solid #ddd;
}

.profile-seller .ui.menu {
	border: 1px solid #eee;
	border-radius: 0;
	box-shadow: none;
	border-right: 0;
	margin-top: 0;
}

.profile-seller .ui.menu a {
	width: 33%;
	display: inline-block !important;
	text-align: center;
	font-size: 16px;
}

.profile-seller .ui.menu .center-tab {
	width: 34%;
}

.profile-seller .ui.menu > .item:first-child {
	border-radius: 0;
}

/*profile buyer*/
.profile-buyer .profile-banner {
	background: url(../images/bg-profile2.jpg);
	width: 100%;
	background-size: cover;
	padding-top: 100px;
	padding-bottom: 10px;
	text-align: center;
	color: #fff;
}

.profile-buyer .profile-banner img {
	border-radius: 50%;
	width: 80px;
	height: 80px;
}

.profile-buyer .profile-banner h4 {
	font-size: 18px;
}

.profile-buyer .ui.grid > .row {
	padding: 0;
}

.profile-buyer .ui.grid > .row > .column {
	padding: 0;
	border-bottom: 1px solid #ddd;
}

.profile-buyer .ui.menu {
	border: 1px solid #ddd;
	border-radius: 0;
	box-shadow: none;
	border-right: 0;
	margin-top: 0;
}

.profile-buyer .ui.menu a {
	width: 100%;
	display: inline-block !important;
	text-align: center;
	font-size: 16px;
}

.profile-buyer .ui.menu i {
	margin-right: 5px;
	color: #2a8fbd;
}

.profile-buyer .ui.menu > .item:first-child {
	border-radius: 0;
}

/*blog*/
.blog .content {
	margin-top: 22px;
}

.blog .content img {
	width: 100%;
}

.blog .content h4 {
	font-size: 18px;
	margin: 10px 0 3px;
	font-weight: 600;
}

.blog .content i {
	margin-right: 5px;
}


/*blog single*/
.blog-single {
	padding: 1px 0 28px;
	margin-top: 50px;
}

.blog-single .content {
	margin-top: 22px;
}

.blog-single .content img {
	width: 100%;
}

.blog-single .content h4 {
	font-size: 18px;
	margin: 10px 0 3px;
	font-weight: 600;
}

.blog-single .content .fa-calendar {
	margin-right: 5px;
}

.blog-single .share-link ul {
	padding: 0;
	margin: 0;
}

.blog-single .share-link ul li {
	display: inline-block;
	list-style: none;
}

.blog-single .share-link ul li a i {
	margin: 0 5px;
	font-size: 16px;
}

.blog-single .comment-title {
	margin-bottom: 10px;
}

.blog-single .comment-title h4 {
	font-size: 18px;
}

/*pagination*/
.pagination ul {
	padding: 0;
	margin: 20px 0 15px;
}

.pagination ul li {
	display: inline-block;
	list-style: none;
	border: 1px solid #ddd;
	padding: 3px 10px;
	margin-right: 5px;
	border-radius: 2px;
	font-size: 12px;
}

.pagination ul .active {
	background-color: #2a8fbd;
	color: #fff;
	border-color: #2a8fbd;
}

/*about*/
.about .content img {
	width: 100%;
}

.about .content h3 {
	margin: 10px 0 5px;
}

.about .social-link {
	border-top: 1px solid #ddd;
	padding-top: 11px;
	margin-bottom: 13px;
}

.about .social-link i {
	margin-right: 5px;
}

/*page not found*/
.page-not-found {
	text-align: center;
}

.page-not-found h2 {
	font-size: 120px;
}

.page-not-found h4 {
	font-size: 30px;
	margin-bottom: 18px;
}

.page-not-found ul {
	padding: 0;
	margin: 0;
}

.page-not-found ul li {
	list-style: none;
	display: inline-block;
	margin: 0 6px;
}

.page-not-found ul li a i {
	margin-right: 3px;
}

/*testimonial*/
.testimonial .content .post {
	border: 1px solid #ddd;
	padding: 10px;
	position: relative;
}

.testimonial .content .triangle:after {
	left: 30px;
}

.testimonial .content .post:after {
	position: absolute;
	content: '';
	display: block;
	bottom: -13px;
	border-top: solid 13px #ddd;
    border-left: solid 6px transparent;
    border-right: solid 6px transparent;
}

.testimonial .content img {
	width: 66px !important;
	height: auto;
	border-radius: 50%;
	margin: 18px 0 10px;
}

.testimonial .content h5 {
	font-size: 16px;
}

.testimonial.owl-theme .owl-dots .owl-dot span {
	width: 8px;
	height: 8px;
}

/*contact*/
.contact .social-link {
	border-top: 1px solid #ddd;
	padding-top: 20px;
	margin-bottom: 13px;
	margin-top: 20px;
}

.contact .social-link i {
	margin-right: 5px;
}

/*settings*/
.settings .profile-photo .content {
	border: 1px solid #bbb;
	padding: 12px;
	margin-bottom: 14px;
	border-radius: 0.28571429rem;
}

.settings .profile-photo span {
	display: block;
	margin-bottom: 5px;
	color: rgba(0,0,0,.87);
	font-size: .92857143em;
	font-weight: 700;
}

.settings .profile-photo img {
	width: 80px;
	height: 80px;
}

.settings .profile-banner .content {
	border: 1px solid #bbb;
	padding: 12px;
	margin-bottom: 14px;
	border-radius: 0.28571429rem;
}

.settings .profile-banner span {
	display: block;
	margin-bottom: 5px;
	color: rgba(0,0,0,.87);
	font-size: .92857143em;
	font-weight: 700;
}

.settings .profile-banner img {
	width: 100%;
}

/*sign in*/
.sign-in .social-login {
	margin-top: 20px;
}

.sign-in .social-login h5 {
	text-align: center;
	margin-bottom: 10px;
}

.sign-in .button-facebook {
	background-color: #3b5999;
}

.sign-in .button-twitter {
	background-color: #55acee;
}

.sign-in .button-linkedin {
	background-color: #0077B5;
}

.sign-in .button-google {
	background-color: #dd4b39;
}

/*sign up*/
.sign-up .social-sigup {
	margin-top: 20px;
}

.sign-up .social-sigup h5 {
	text-align: center;
	margin-bottom: 10px;
}

.sign-up .button-facebook {
	background-color: #3b5999;
}

.sign-up .button-twitter {
	background-color: #55acee;
}

.sign-up .button-linkedin {
	background-color: #0077B5;
}

.sign-up .button-google {
	background-color: #dd4b39;
}

/*form*/
.ui.form input:not([type]),
.ui.form input[type="date"],
.ui.form input[type="datetime-local"],
.ui.form input[type="email"],
.ui.form input[type="number"],
.ui.form input[type="password"],
.ui.form input[type="search"],
.ui.form input[type="tel"],
.ui.form input[type="time"],
.ui.form input[type="text"],
.ui.form input[type="url"] {
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: 0em;
  outline: none;
  -webkit-appearance: none;
  line-height: 1.21428571em;
  padding: 0.67857143em 1em;
  font-size: 12px;
  background: #FFFFFF;
  border: 1px solid #ddd;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  box-shadow: 0em 0em 0em 0em transparent inset;
  -webkit-transition: color 0.1s ease, border-color 0.1s ease;
  transition: color 0.1s ease, border-color 0.1s ease;
}

.ui.form input[type="file"] {
	padding: 0;
	border: 0;
	margin: 0;
}

.ui.form textarea {
  margin: 0em;
  -webkit-appearance: none;
  padding: 0.78571429em 1em;
  background: #FFFFFF;
  border: 1px solid #ddd;
  outline: none;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  box-shadow: 0em 0em 0em 0em transparent inset;
  -webkit-transition: color 0.1s ease, border-color 0.1s ease;
  transition: color 0.1s ease, border-color 0.1s ease;
  font-size: 12px;
  line-height: 1.2857;
  resize: vertical;
}

.ui.form input:not([type]):focus,
.ui.form input[type="date"]:focus,
.ui.form input[type="datetime-local"]:focus,
.ui.form input[type="email"]:focus,
.ui.form input[type="number"]:focus,
.ui.form input[type="password"]:focus,
.ui.form input[type="search"]:focus,
.ui.form input[type="tel"]:focus,
.ui.form input[type="time"]:focus,
.ui.form input[type="text"]:focus,
.ui.form input[type="file"]:focus,
.ui.form input[type="url"]:focus {
  color: rgba(0, 0, 0, 0.95);
  border-color: #2a8fbd;
  border-radius: 0.28571429rem;
  background: #FFFFFF;
  box-shadow: 0px 0em 0em 0em rgba(34, 36, 38, 0.35) inset;
}

.ui.form textarea:focus {
  color: rgba(0, 0, 0, 0.95);
  border-color: #2a8fbd;
  border-radius: 0.28571429rem;
  background: #FFFFFF;
  box-shadow: 0px 0em 0em 0em rgba(34, 36, 38, 0.35) inset;
  -webkit-appearance: none;
}

.ui.form ::-webkit-input-placeholder {
  color: #777;
}

.ui.form :-ms-input-placeholder {
  color: #777;
}

.ui.form ::-moz-placeholder {
  color: #777;
}

.ui.form :focus::-webkit-input-placeholder {
  color: #777;
}

.ui.form :focus:-ms-input-placeholder {
  color: #777;
}

.ui.form :focus::-moz-placeholder {
  color: #777;
}

/*comment people*/
.comment-people .content {
	padding: 12px;
	border: 1px solid #ddd;
	margin-bottom: 20px;
}

.comment-people .content i {
	color: #2a8fbd;
}

.comment-people .reply {
	margin-left: 30px;
}

.comment-people .content .icon img {
	width: 45px;
	height: 45px;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}

.comment-people .content .text {
	overflow: hidden;
}

.comment-people .content .post {
	border: 1px solid #ddd;
	display: block;
	clear: both;
	margin-top: 28px;
	padding: 10px;
	background-color: #fdfdfd;
}

.comment-people .comment-title {
	border-top: 1px solid #ddd;
    padding-top: 16px;
    margin-bottom: 10px;
}

/*table*/
.ui.table .text-center {
	text-align: center;
}

.ui.table thead th {
	padding: 8px 10px 9px;
}

.ui.table tbody td {
	padding: 8px 10px 9px;
}

/*footer*/
footer {
	padding: 2px 0 2px;
	text-align: center;
	background-color: #f5f5f5;

	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 999;
	border-bottom: 1px solid #ddd;
	box-shadow: 0 0 6px rgba(140, 132, 132, 0.27);
	overflow: hidden;
}

footer .content .logo {
	margin-bottom: 10px;
}

footer .content h6 {
	font-size: 30px;
	margin-bottom: 10px;
}

footer .content p {
	margin: 0 10px;
}

footer .content .social-link {
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

footer .content .social-link i {
	font-size: 16px;
	margin: 0 6px;
}

footer .content .payment-logo ul {
	padding: 0;
	margin: 0;
	margin-top: 6px;
}

footer .content .payment-logo ul li {
	display: inline-block;
	list-style: none;
	margin: 0 2px;
}

footer .content .payment-logo ul li img {
	width: 30px;
}

footer .reserved {
	background-color: #e9e7e7;
	padding: 10px;
	margin-top: 10px;
}